{% extends "base_sign.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}DELETE ACCOUNT{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/user_account.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class = "content">
        <div class="container">


            <h2>Delete account</h2>
            <p> Are you sure you want to delete your account: '{{ user.username }}'?</p>
            <div>
                <button onclick="location.href='{{ path('fos_user_profile_show') }}'" type="button" class="delete back" >Cancel</button>
                {{ form_start(delete_form) }}
                <div class="image">{% media room.mainPhoto, 'small' %}</div>
                <button type="submit" class="delete" >Delete</button>
                {{ form_end(delete_form) }}
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}