{% extends "base_sign.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Sign up{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/useraccount.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class = "content">


    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}