{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Find accommodation!{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/searcher.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
<!--- Search --->
<div class="searcher">

        {{ form_start(form) }} <
    <div class="styled-select">

        {{ form_widget(form) }}
        <div class="clearfix">
            <input type="submit" class="btn" value="Search" />

        </div>
    </div>
        {{ form_end(form) }}


</div>
    
{% endblock %}

{% block footer %}
{% endblock %}


