{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Add your offer{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/add.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class = "content choose-offer">
            <h2>Choose type of offer</h2>

            <div class="nav">
                <ul>
                    <li><a href="{{ path('add_room') }}">Room for rent</a></li>
                    <li><a href="{{ path('add_flat_rent') }}">Flat for rent</a></li>
                    <li><a href="{{ path('add_flat_sale') }}">Flat for sale</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}