{% extends "base_sign.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Sign in{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/signin.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class = "content">
        <h2>Sign in </h2>

        <form action="/action_page.php">

            <div class="container">
                <label>Username</label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label>Password</label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <input type="checkbox" checked="checked"> <p>Remember me</p>
            </div>

            <div class="bottom">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw"><a href="#">Forgot password?</a></span>
            </div>
        </form>

    </div>
    <div class="register">
        <a href="{{ path('signup') }}"> <strong>Register</strong></a>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}