{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Homeworthy{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/show.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class = "content">
            <h2>{{ flat_sale.title }}</h2>
            <p><div class="image">{% media flat_sale.plan, 'big' %}</div></p>
            <p><div class="image">{% media flat_sale.mainPhoto, 'big' %}</div></p>
            <p><span>{{ 'Publicated' }}</span>: {{ flat_sale.date|date(" m/d/Y H:i:s") }}</p>
            <p><span>{{ 'Type of property'}}</span>: {{ flat_sale.propertyType }}
            <p><span>{{ 'Type of offer'}}</span>: {{ flat_sale.offerType }}
            <p><span>{{ 'Owner type'}}</span>: {{ flat_sale.ownerType }}
            <p><span>{{ 'Owner '}}</span>: {{ flat_sale.user }}
            <p><span>{{ 'Description' }}</span>: {{ flat_sale.description }}</p>
            <p><span>{{ 'Available from'}}</span>: {{ flat_sale.available|date(" m/d/Y")}}</p>
            <p><span>{{ 'Localization'}}</span>: {{ flat_sale.localization }} </p>
            <p><span>{{ 'Building '}}</span>: {{ flat_sale.building }}</p>
            <p><span>{{ 'Rooms number '}}</span>: {{ flat_sale.roomsNumber|trans }}
            <p><span>{{ 'Size'}}</span>: {{ flat_sale.size }}</p>
            <p><span>{{ 'Last renovation'}}</span>: {{ flat_sale.renovation|date(" m/d/Y")}} </p>
            <p><span>{{ 'Meter price' }}</span>: {{ flat_sale.meterPrice }} </p>
            <p><span>{{ 'Instalments'}}</span>: {{ flat_sale.instalments ? 'Yes':'No' }}</p>
            <p><span>{{ 'Total price' }}</span>: {{ flat_sale.totalPrice }} </p>
            <p><span>{{ 'Floor' }}</span>: {{ flat_sale.floor }} </p>
            <p><span>{{ 'Furnished' }}</span>: {{ flat_sale.furnished ? 'Yes':'No' }} </p>
            <p><span>{{ 'Balcony' }}</span>: {{ flat_sale.balcony ? 'Yes':'No' }} </p>

            <div class="buttons">
                {% if app.user %}
                    {% if (is_granted('ROLE_ADMIN') or (flat_sale.user == app.user)) %}
                        <button onclick="location.href='{{ path('edit_flat_sale', { 'id': flat_sale.getIdFlat() }) }}'" type="button" class="btn" >Edit</button>
                        <button onclick="location.href='{{ path('confirm_delete_flat_sale', { 'id': flat_sale.getIdFlat() }) }}'" type="submit" class="btn" >Delete</button>
                        <button onclick="location.href='{{ last_route }}'" type="button" class="btn back" >Back</button>
                    {% else %}
                        <button onclick="location.href='{{ last_route }}'" type="button" class="btn back" >Back</button>
                    {% endif %}
                {% else %}
                    <button onclick="location.href='{{ last_route }}'" type="button" class="btn back" >Back</button>
                {% endif %}
            </div>
        </div>
        <div class="space"></div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}