{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Homeworthy{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/add.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class = "content">
        <h2>Add Flat Rental Offer</h2>
            <div class="container">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_widget(form.plan) }}

                <!---<ul id="photos-fields-list" class="collection-container"
                    data-prototype="{form_widget(form.flatPhotos.vars.prototype)|e }}">
                {#% for photo in form.flatPhotos %}
                    <li>
                        {{ form_widget(photo) }}
                    </li>
                {% endfor %#}
                </ul>--->

                <a href="#" id="add-another-photo" class="collection-add">Add another photo</a>

                <div class="clearfix">
                    <a href="{{ path('add') }}" name="cancel" class="cancelbtn">Cancel</a>
                    <input type="submit" class="addbtn" value="Create" />
                </div>

                {{ form_end(form) }}
            </div>
    </div>
    <div class="space"></div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}