{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
    <title>{% block title %}Confirm delete{% endblock %}</title>
    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/offers.css') }}" type="text/css"/>
    {% endblock %}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class = "content">
        <h2>Are you sure you want to delete this offer?</h2>

        <div class="short">
            <ul>
                <h1>{{ flat_rent.title }}</h1>
                <div class="image">{% media flat_rent.mainPhoto, 'small' %}</div>
                <li><strong>{{ 'Type of property' }}:</strong> {{flat_rent.propertyType }}</li>
                <li><strong>{{ 'Type of offer' }}:</strong> {{flat_rent.offerType }}</li>
                <li><strong>{{ 'Localization' }}:</strong> {{ flat_rent.localization }}</li>
                <li><strong>{{ 'Publicated' }}:</strong> {{ flat_rent.date|date(" m/d/Y  H:i:s") }}</li>
                <li class="price"><strong>{{ 'Total price' }}: </strong>{{ flat_rent.totalPrice }}</li>
            </ul>
        </div>

        <button onclick="location.href='{{ path('show_flat_rent', {'id': flat_rent.getIdFlat()}) }}'" type="button" class="btn back" >Cancel</button>
        {{ form_start(delete_form) }}
        <button onclick="location.href='{{ path('delete_flat_rent', { 'id': flat_rent.getIdFlat() }) }}'" type="submit" class="btn" >Delete</button>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}