<!DOCTYPE html>
<html>
<head>
    {%  block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/home_icon.png') }}" />
    {% endblock %}
</head>
<body>
<!--- Header --->
<header class="header">
    {% block header %}
        <div class="background-image"></div>
        <a class ="logo" href="/" id="logoLink"><img src="{{ asset('images/homeworthy_logo.png') }}" height=120 width=340 /></a>
        <div class="sign">
            <ul>
                <li><a href="{{ path('signin') }}">Sign in</a></li>
                <li><a href="{{ path('signup') }}">Sign up</a></li>
            </ul>
        </div>
    {% endblock %}
</header>


<div class ="contents">{% block content %}{% endblock %} </div>

<footer>
    {% block footer %}
        <div class="footer">
                <p>&copy; Anna Budzoń</p>
        </div>
    {% endblock %}
</footer>

</body>
</html>
