<!DOCTYPE html>
<html>
<head>
   {%  block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/home_icon.png') }}" />
    {% block javascripts %}
        {% endblock %}
   {% endblock %}
</head>
<body>
    <!--- Header --->
    <header class="header">
        {% block header %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="admin-nav">
                    <a href="{{ path("manage_offers") }}">Admin view - manage offers</a>
                </div>
            {% endif %}
            <div class="background-image"></div>

            <a class ="logo" href="/" id="logoLink"><img src="{{ asset('images/homeworthy_logo.png') }}" height=120 width=340 /></a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="logged">
                            <ul>
                                <li>
                                    <a class="logout" href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                                <li><a class="add" href="{{ path('add') }}">Add offer</a></li>
                                <li><a href="{{ path('fos_user_profile_show') }}">My account</a></li>
                                <label class="info">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</label>
                            </ul>

                        </div>
                    {% else %}
                        <div class="sign">
                            <ul>
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li><a class="register" href="{{ path('fos_user_registration_register') }}">Register</a></li>
                            </ul>
                        </div>
                    {% endif %}

        {% endblock %}
    </header>


    <div class ="contents">{% block content %}{% endblock %} </div>

    <footer>
        {% block footer %}
        <div class="footer">
            <p>&copy; Anna Budzoń</p>
        </div>
        {% endblock %}
    </footer>

</body>
</html>
